*{
	box-sizing:border-box ;
}

body {
	padding: 0;
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	background: #f2f2f2; 
    padding-top: 80px;
    text-align: center;
}
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 1000;
}
.contenedor{
	width: 100%;
	max-width: 1910px;
	margin: 0 auto;
	overflow: hidden;
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
#main-header a {
	color: white;
}

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
#logo-header:hover {
	color: #0b76a6;
}
	
#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
}
	
#logo-header .site-desc {
	display: block;
	font-weight: 300;
	font-size: 0.8em;
	color: #999;
}
	
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
nav ul li {
	display: inline-block;
	line-height: 80px;
}
			
nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}
			
nav ul li a:hover {
	background: #0b76a6;
}

#main-header {
    background: #333;
    color: white;
    height: 80px;             
    width: 100%; 
    left: 0; 
    top: 0; 
    position: fixed;
}

@media screen and (max-width: 800px) {
	img{
		width: 100%;
	}

}

@media screen and (max-width: 390px) {
	.contenedor{
		width: 100%;
	}
}
#slider {
	margin: 0 auto;
	width: 800px;
	max-width: 100%;
	text-align: center;
 }
 #slider input[type=radio] {
	display: none;
 }
 #slider label {
	cursor:pointer;
	text-decoration: none;
 }
 #slides {
	padding: 10px;
	border: 3px solid #ccc;
	background: #fff;
	position: relative;
	z-index: 1;
 }
 #overflow {
	width: 100%;
	overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
	margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
	margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
	margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
	margin-left: -300%;
 }
 #slides .inner {
	transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	width: 400%;
	line-height: 0;
	height: 300px;
 }
 #slides .slide {
	width: 25%;
	float:left;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #fff;
 }
 #slides .slide_1 {
	background: #d37101;
 }
 #slides .slide_2 {
	background: #d37101;
 }
 #slides .slide_3 {
	background: #d37101;
 }
 #slides .slide_4 {
	background: #d37101;
 }
 #controls {
	margin: -180px 0 0 0;
	width: 100%;
	height: 50px;
	z-index: 3;
	position: relative;
 }
 #controls label {
	transition: opacity 0.2s ease-out;
	display: none;
	width: 50px;
	height: 50px;
	opacity: .4;
 }
 #controls label:hover {
	opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
	background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
	float:right;
	margin: 0 -50px 0 0;
	display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
	background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
	float:left;
	margin: 0 0 0 -50px;
	display: block;
 }
 #bullets {
	margin: 150px 0 0;
	text-align: center;
 }
 #bullets label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius:100%;
	background: #ccc;
	margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
	background: #444;
 }
 img:hover{
	transform: scale(1.2);
 }
 @media screen and (max-width: 900px) {
	#slide1:checked ~ #controls label:nth-child(2),
	#slide2:checked ~ #controls label:nth-child(3),
	#slide3:checked ~ #controls label:nth-child(4),
	#slide4:checked ~ #controls label:nth-child(1),
	#slide1:checked ~ #controls label:nth-last-child(2),
	#slide2:checked ~ #controls label:nth-last-child(3),
	#slide3:checked ~ #controls label:nth-last-child(4),
	#slide4:checked ~ #controls label:nth-last-child(1) {
	   margin: 0;
	}
	#slides {
	   max-width: calc(100% - 140px);
	   margin: 0 auto;
	}
 }